<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homi  | Chat</title>
    <!-- Google Font -->


    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/chat.css" th:href="@{/css/chat.css}" rel="stylesheet" />
    <script src="/webjars/jquery/dist/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <script type="text/javascript" th:src="@{/js/chat.js}" ></script>
    <script type="text/javascript" th:src="@{/js/filteruser.js}" ></script>
    <script type="text/javascript" th:src="@{/js/urlGlo.js}" ></script>
    <script type="text/javascript" th:src="@{/js/authen.js}"></script>
<!--    <script src="app.js"></script>-->


    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../cssnew/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/style.css" type="text/css">
</head>

<body>
<div id="menu" style="background-color: #fff;">

</div>
<div class="app">
    <div class="header">
        <div class="title-chat">Users</div>
        <div class="infor-room-chat">
            <p id="userdangchat"></p>
        </div>
    </div>
    <div class="wrapper">
        <div class="conversation-area" id="listUserWithMe">

            <input type="text" name="" placeholder="tìm kiếm" class="tim-kiem-user-chat">

            <div class="msg online">
                <img class="msg-profile" src="http://res.cloudinary.com/dxccmy7an/image/upload/v1668216624/ooq1qhfdazxvwrvp9h9u.jpg" alt="" />
                <div class="msg-detail">
                    <div class="msg-username">Danh Chan Tara</div>
                    <div class="msg-content">
                        <span class="msg-message">Hotel Booking</span>
                        <span class="msg-date">20m</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="chat-area" id="scroll-to-bottom">

            <div class="chat-area-main" id="noidungchats">
                <img style="width: 100%;margin-left: 0%" src="https://media-istockphoto-com.translate.goog/id/1337229983/photo/bubble-talk-or-comment-sign-symbol-on-yellow-background.jpg?s=170667a&w=0&k=20&c=f0zwdugwccljs-jkaWmuU6tkEZSTvrWWbzBdGz8d6gA%3D&_x_tr_sl=vi&_x_tr_tl=en&_x_tr_hl=vi&_x_tr_pto=wapp"/>


            </div>

            <div class="chat-area-footer">
                <input type="text" id="name" placeholder="write message" />
                <input type="hidden" id="idnguoinhan" />
                <label for="sendfile">
                    <i class="fa fa-paperclip"></i>
                </label>

                <input style="display: none;" onchange="myfun()" id="sendfile" type="file" />
                <button class="btn-send-message" id="send"><i class="fa fa-paper-plane"></i></button>
            </div>
        </div>

    </div>
</div>
</body>

<script>
    var id = window.location.search.split('=')[1];
    document.getElementById("idnguoinhan").value = id
    var username = localStorage.getItem("username");
    window.onload = function () {
        checkUser();
        connect(username);
        loadListUserChat();
    }
    var scroll_to_bottom = document.getElementById('scroll-to-bottom');
    scroll_to_bottom.scrollTop = scroll_to_bottom.scrollHeight;
</script>
<script src="../jsnew/menu.js"></script>
<script src="../jsnew/jquery-3.3.1.min.js"></script>
<script src="../jsnew/bootstrap.min.js"></script>
<script src="../jsnew/jquery.magnific-popup.min.js"></script>
<script src="../jsnew/jquery.nice-select.min.js"></script>
<script src="../jsnew/jquery-ui.min.js"></script>
<script src="../jsnew/jquery.slicknav.js"></script>
<script src="../jsnew/main.js"></script>
</html>