<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Sona Template">
  <meta name="keywords" content="Sona, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homi | My Post</title>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

  <!-- Css Styles -->
  <link rel="stylesheet" href="../cssnew/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/flaticon.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/nice-select.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/style.css" type="text/css">
  <link rel="stylesheet" href="../css/style.css" type="text/css">

  <script type="text/javascript" th:src="@{/js/urlGlo.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <script type="text/javascript" th:src="@{/js/authen.js}"></script>
  <script type="text/javascript" th:src="@{/js/mypost.js}"></script>
  <script type="text/javascript" th:src="@{/js/filteruser.js}"></script>

</head>

<body>
<div id="menu">

</div>

<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb-text">
          <h2>Profile</h2>
          <div class="bt-option">
            <a href="/">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- profile -->
<div class="container">
  <!-- bên trái -->
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 profile">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
          </div>
        </div>
        <div class="col-md-12">
          <hr>
        </div>
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="myTab2">
            <li><a href="#now" data-toggle="tab" class="tab-activce">approved<span
                    id="num_danghienthi">(2)</span></a></li>
            <li><a onclick="loadRoomChuaDuyet()" href="#deny" data-toggle="tab" class="tab-activce">watting approve<span id="count_chuaduyet">(0)</span></a></li>
            <li><a onclick="loadRoomDaXoa()" href="#remove" data-toggle="tab" class="tab-activce">Deleted<span id="count_daxoa">(0)</span></a></li>
          </ul>
        </div>

        <div class="col-md-12 space">

        </div>
        <div class="tab-content">
          <div class="tab-pane fade show active" id="now">


          </div>
          <div class="tab-pane fade " id="deny">
            <h4>Unapproved room</h4>
          </div>
          <div class="tab-pane fade " id="remove">
            <h4>Room deleted</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- hết bên trái -->

  </div>
</div>



<!-- được theo dõi -->
<div class="modal fade" id="theodoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="ul_theodoi_profile" id="ul_duoctheodoi_profile">
          <li>
            <div>
              <div class="div_img_theodoi"><img src="image/avatar.jpg" class="img_theodoi"></div>
              <p class="username_theodoi"><a href="profile.html?id=9">Tara Chan</a></p>
            </div>
          </li>
          <li>
            <div>
              <div class="div_img_theodoi"><img src="image/avatar.jpg" class="img_theodoi"></div>
              <p class="username_theodoi"><a href="profile.html?id=9">Tara Chan</a></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- đang theo dõi -->
<div class="modal fade" id="dangtheodoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Following</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="ul_theodoi_profile" id="ul_theodoi_profile">
          <li>
            <div>
              <div class="div_img_theodoi"><img src="image/avatar.jpg" class="img_theodoi"></div>
              <p class="username_theodoi"><a href="profile.html?id=9">Tara Chan</a></p>
            </div>
          </li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<footer id="footer" class="footer-section"> </footer>
</body>
<script>
  window.onload = function () {
    checkUser();
    loadRoomThanhCong();
    loadUser();
    loadCountRoom();
  }
</script>
<script src="../jsnew/menu.js"></script>
<script src="../jsnew/jquery-3.3.1.min.js"></script>
<script src="../jsnew/bootstrap.min.js"></script>
<script src="../jsnew/jquery.magnific-popup.min.js"></script>
<script src="../jsnew/jquery.nice-select.min.js"></script>
<script src="../jsnew/jquery-ui.min.js"></script>
<script src="../jsnew/jquery.slicknav.js"></script>
<script src="../jsnew/main.js"></script>
</html>