<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Sona Template">
  <meta name="keywords" content="Sona, unica, creative, html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homi | profile</title>
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

  <!-- Css Styles -->
  <link rel="stylesheet" href="../cssnew/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/elegant-icons.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/flaticon.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/owl.carousel.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/nice-select.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/jquery-ui.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/magnific-popup.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/slicknav.min.css" type="text/css">
  <link rel="stylesheet" href="../cssnew/style.css" type="text/css">
  <link rel="stylesheet" href="../css/style.css" type="text/css">

  <script type="text/javascript" th:src="@{/js/urlGlo.js}"></script>
  <script type="text/javascript" th:src="@{/js/main.js}"></script>
  <script type="text/javascript" th:src="@{/js/authen.js}"></script>
  <script type="text/javascript" th:src="@{/js/profile.js}"></script>
  <script type="text/javascript" th:src="@{/js/follow.js}"></script>

</head>

<body>
<div id="menu">

</div>

<div class="container">
  <div class="col-md-12 title-profile">
    <p><a href="/">Booking >></a> </p>
    <p id="tieudeten">Tara's personal page</p>
  </div>
</div>


<!-- profile -->
<div class="container">
  <div class="col-md-12 profile">
    <div class="row">
      <div class="col-md-2">
        <img style=" width: 100%;margin: 0" id="avatar_profile">
      </div>
      <div class="col-md-6">
        <p class="ins"><i class="fa fa-calendar"></i>Join date:
        <p class="ins tus" id="ngaythamgia">23 / 01/2018</p>
        </p>
        <p class="ins"><i class="fa fa-map-marker"></i>Address:
        <p class="ins tus" id="diachi">Ninh Kieu, Can THo</p>
        </p>
        <p class="ins"><i class="fa fa-comment"></i>
          chat feedback:
        <p class="ins tus">15 Min</p>
        </p>
      </div>
      <!-- content -->

      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-12 post-profile">
    <p>Room is posting <span id="numberTin">- 0 Room</span> </p>
    <hr>
    <div class="list-post-profile" id="list-post-profile">

    </div>
    <div class="list-post-full" id="list-post-full">

      <div class="col-md-12 signle-room-search">
        <div class="row">
          <div class="col-md-2">
            <a href=""><img class="image-search" src="image/anh.jpg"></a>
          </div>
          <div class="col-md-7 detail-search">
            <h5><a href="">Mini apartment room for 2 people, newly built clean and beautiful room</a></h5>
            <p>Address<i class="fa fa-map-marker iconmap"></i>: Ninh Kieu, Can Tho</p>
            <p>Street: Mac Thien Tich</p>
            <p>Price: 500$/moth</p>
            <p> <i class="fa fa-clock"></i>18 hours ago</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- được theo dõi -->
<div class="modal fade" id="theodoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="ul_theodoi_profile" id="ul_duoctheodoi_profile">
          <li>
            <div>
              <div class="div_img_theodoi"><img src="image/avatar.jpg" class="img_theodoi"></div>
              <p class="username_theodoi"><a href="profile.html?id=9">Tara</a></p>
            </div>
          </li>
          <li>
            <div>
              <div class="div_img_theodoi"><img src="image/avatar.jpg" class="img_theodoi"></div>
              <p class="username_theodoi"><a href="profile.html?id=9">Tara</a></p>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- đang theo dõi -->
<div class="modal fade" id="dangtheodoi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Followed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="ul_theodoi_profile" id="ul_theodoi_profile">
          <li>
            <div>
              <div class="div_img_theodoi"><img src="image/avatar.jpg" class="img_theodoi"></div>
              <p class="username_theodoi"><a href="profile.html?id=9">Tara</a></p>
            </div>
          </li>

        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<footer id="footer" class="footer-section"> </footer>
<script>
  window.onload = function () {
    loadAccount();
    loadRoomProfile();
  }
</script>
<script src="../jsnew/menu.js"></script>
<script src="../jsnew/jquery-3.3.1.min.js"></script>
<script src="../jsnew/bootstrap.min.js"></script>
<script src="../jsnew/jquery.magnific-popup.min.js"></script>
<script src="../jsnew/jquery.nice-select.min.js"></script>
<script src="../jsnew/jquery-ui.min.js"></script>
<script src="../jsnew/jquery.slicknav.js"></script>
<script src="../jsnew/main.js"></script>
</body>

</html>