<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <script type="text/javascript" th:src="@{/js/urlGlo.js}"></script>
</head>

<body>
<script>
    var urls = document.URL
    var uls = new URL(urls)
    var orderId = uls.searchParams.get("orderId");
    var requestId = uls.searchParams.get("requestId");
    console.log(orderId)
    console.log(requestId)

    window.onload = function () {
        checkPayment();
    }

    async function checkPayment() {
        var url = 'http://'+urlFirst+':8080/api/user/checkPayment?orderId=' + orderId + '&requestId=' + requestId
        var token = localStorage.getItem("token");
        const res = await fetch(url, {
            method: 'GET',
            headers: new Headers({
                'Authorization': 'Bearer ' + token
            })

        });
        var stt = await res.text();
        if (Number(stt) == Number(1)) {
            alert("nạp tiền thành công!")
        }
        window.location.replace("myPost");
    }
</script>
</body>

</html>