<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homi | search</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css.map">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/FontAwesome.otf">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../cssnew/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/style.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
    <link rel="stylesheet" href="../css/price-range.css" type="text/css">

</head>

<body>
<!-- Breadcrumb Section Begin -->
<div id="menu">

</div>
<!-- Breadcrumb Section End -->
<div class="col-sm-12" id="postRoom-search">
    <div class="row">
        <div class="col-sm-3 filter-search">
            <div class="title-boloc row">
                <div class="col-md-6"><h3>Filter</h3></div>
                <div class="col-md-6"><button onclick="searchFull(0)"><i class="fa fa-send"></i></button></div>
            </div>
            <div class="list-filter">
                <p class="title-filter-search">Area</p>
                <select id="tinh" class="form-control" onchange="loadHuyen()">
                    <option>Province</option>
                </select>
                <select id="huyen" class="form-control" onchange="loadXa()">
                </select>
                <select id="xa" class="form-control">
                </select>
                <hr/>

                <p class="title-filter-search">Price Range</p>
                <input name="" type="text" class="span2 slider" value="" data-slider-min="0"
                       data-slider-max="15000000" data-slider-step="500000" data-slider-value="[500000,15000000]"
                       id="sl2"><br />
                <label style="margin-top: 20px" id="khoanggia">0-15000000+</label>
                <hr/>
                <p class="title-filter-search">Type Room</p>
                <ul class="list-tienich-search" id="list-loaiphong-search">
                </ul>
                <hr/>
                <p class="title-filter-search">Gender </p>
                <ul class="list-tienich-search">
                    <li>
                        <label class="containers">
                            <div class="lb">All</div>
                            <input name="sex" value="Male,Female" type="radio" checked class="sex">
                            <span class="radioCheckmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="containers">
                            <div class="lb">Male</div>
                            <input value="Male" name="sex" type="radio" class="sex">
                            <span class="radioCheckmark"></span>
                        </label>
                    </li>
                    <li>
                        <label class="containers">
                            <div class="lb">Female</div>
                            <input value="Female" name="sex" type="radio" class="sex">
                            <span class="radioCheckmark"></span>
                        </label>
                    </li>
                </ul>
                <hr/>
                <p class="title-filter-search">Utilities </p>
                <ul class="list-tienich-search" id="list-tienich-search">
                    <li>
                        <label class="containers">
                            <div class="lb"><i class="fas fa-toilet"></i>WC</div>
                            <input type="checkbox" class="toilet">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>

            </div>
            <div class="title-boloc">
                <p class="apdung-duoi">
                <p>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-8 main-search">
            <div class="title-result-list-room-search">
                <h4>Our Rooms</h4>
                <p id="number-room"></p>
            </div>
            <div id="result-list-room-search">

            </div>

            <div class="xemthemsearch" id="xemthemsearch">
                <p id="view-more" onclick="loadMoreRoomSearch()">Load More</p>
            </div>
        </div>
    </div>
</div>

<footer class="footer-section" id="footer"></footer>

<script>
    window.onload = function () {
        findAllUtilitiesSearch();
        findAllTypeRoomSearch();
        loadAddressSearch();
        loadRoomSearch(0)
    }
</script>
</body>
<script src="../js/search.js"></script>
<script src="../js/urlGlo.js"></script>
<script src="../js/address.js"></script>
<script src="../jsnew/menu.js"></script>
<script src="../jsnew/jquery-3.3.1.min.js"></script>
<script src="../jsnew/bootstrap.min.js"></script>
<script src="../jsnew/jquery.magnific-popup.min.js"></script>
<script src="../jsnew/jquery.nice-select.min.js"></script>
<script src="../jsnew/jquery-ui.min.js"></script>
<script src="../jsnew/jquery.slicknav.js"></script>
<script src="../jsnew/main.js"></script>


<script src="../js/price/jquery.js"></script>
<script src="../js/price/bootstrap.min.js"></script>
<script src="../js/price/jquery.scrollUp.min.js"></script>
<script src="../js/price/price-range.js"></script>
<script src="../js/price/main.js"></script>



<script>
    $('.slider').on('slide', function (ev) {
        console.log($('#sl2').val());
        document.getElementById("khoanggia").innerHTML = $('#sl2').val().replace(',','-')

    });
</script>
</html>