<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Sona Template">
    <meta name="keywords" content="Sona, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homi | Upload</title>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        tinymce.init({
            selector : 'textarea#editor',
        });
    </script>
    <!-- Css Styles -->
    <link rel="stylesheet" href="../cssnew/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/flaticon.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../cssnew/style.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>

<body>

<!-- menu -->
<div id="menu"></div>


<!-- danh sách phòng -->
<div class="col-md-12 uploads">
    <div class="row">
        <div class="col-md-8">
            <h4>Room Information</h4>
            <!-- <form> -->
            <label>Post title</label>
            <input id="tieude" type="text" name="" class="col-md-9 form-control">
            <label>Type Room</label>
            <select class="col-md-9 form-control" id="loaiphong">
                <option>Type Room</option>
            </select>

            <div class="row">
                <div class="col-md-6">
                    <label>Capacity</label>
                    <input id="succhua" type="number" name="" min="1" class="form-control col-md-4">
                </div>
                <div class="col-md-6">
                    <label>Gender</label><br>
                    <input type="radio" name="sex" value="Male" checked id="nam"> <label for="nam">Male</label>
                    <input type="radio" name="sex" value="Female" id="nu"> <label for="nu">Female</label>
                    <input type="radio" name="sex" value="Male,Female" id="none"> <label for="none">All</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label>Area</label><br>
                    <input type="number" id="dientich" name="" min="1" class="form-control col-md-8 prices">: m2
                </div>
                <div class="col-md-4">
                    <label>Price/ Pernight</label><br>
                    <input type="number" id="giathue" name="" min="1" class="form-control col-md-6 prices"
                           placeholder="Price/ Pernight">
                    VND/Pernight
                </div>
                <div class="col-md-4">
                    <label>Total number of rooms</label><br>
                    <input type="number" id="slphong" name="" min="1" class="form-control col-md-6 prices"
                           placeholder="Enter total number of rooms">
                    Total Room
                </div>
            </div>
            <!-- địa chỉ -->
            <div class="row">
                <div class="col-md-12">
                    <h5>Address(Viet Nam)</h5>
                </div>
                <div class="col-md-4">
                    <select id="tinh" onchange="loadHuyen()">
                        <option>Province</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="huyen" onchange="loadXa()">
                        <option>--- districts ---</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <select id="xa">
                        <option>--- wards ---</option>
                    </select>
                </div>
                <div class="col-md-9">
                    <label>Street names/ apartment number</label>
                    <input type="text" name="" id="tenduong" placeholder="Enter Street names/ apartment number"
                           class="form-control">
                </div>
            </div>

            <!-- tiện ích -->
            <div class="row" id="listUtility">
                <div class="col-md-12">
                    <h5 class="title-tienich">Utilities</h5>
                </div>
                <div class="col-md-3">
                    <label class="containers">
                        <div class="lb"><i class="fas fa-toilet"></i>WC riêng</div>
                        <input type="checkbox" class="toilet">
                        <span class="checkmark"></span>
                    </label>
                </div>

                <div class="col-md-3">
                    <label class="containers">
                        <div class="lb"><i class="fas fa-motorcycle"></i>Chỗ để xe</div>
                        <input type="checkbox" class="bike">
                        <span class="checkmark"></span>
                    </label>
                </div>

            </div>
            <!-- </form> -->
        </div>

        <div class="col-md-4 chooseImage">
            <div class="row">
                <div class="col-md-12">
                    <h5>Choose Image</h5>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row" id="preview">
                                <!-- chọn ảnh -->
                                <div class="col-md-12" id="chon-anhs">
                                    <div id="choose-image" class="choose-image"
                                         onclick="document.getElementById('choosefile').click(); return false;">
                                        <p><i class="fas fa-camera" id="camera"></i></p>
                                        <p id="numimage">post Your photos</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- chọn ảnh -->

                <input type="file" id="choosefile" multiple onchange="readURL(this);" style="visibility: hidden;">
                <div class="col-md-12">
                    <label>Description</label>
                    <textarea id="editor" name="content"></textarea>
                    <div class="row" id="listImageUpdate">
                        <div class="col-md-12"><p>Room images</p></div>
                        <div class="col-md-4" style="margin-top: 10px">
                            <img src="image/anh.jpg" style="width: 100%;height: 100px;">
                            <button class="btn-danger col-md-12">xóa</button>
                        </div>
                    </div>
                    <div class="row" id="anhdadang">
                        <div class="col-md-12"><p>Banner</p></div>
                        <div class="col-md-4" style="margin-top: 10px">
                            <img id="bannerupload" src="" style="width: 100%;height: 100px;">
                            <label>Change banner</label>
                            <input id="bannerimg" type="file" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <img id="loading_uploadroom" src="image/loading_1.gif">
                    <button class="btn btn-warning upload-submit" onclick="uploadRoom()">Update</button>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    bannerimg.onchange = evt => {
        const [file] = bannerimg.files
        if (file) {
            bannerupload.src = URL.createObjectURL(file)
        }
    }
</script>
<footer id="footer" class="footer-section"> </footer>
</body>
<script>
    window.onload = function () {
        checkUser();
        findAllUtilities();
        findAllTypeRoom();
        loadInit();
        loadDetailRoomUpdate();
    }
</script>
<script type="text/javascript" th:src="@{/js/urlGlo.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<script type="text/javascript" th:src="@{/js/authen.js}"></script>
<script type="text/javascript" th:src="@{/js/filteruser.js}"></script>
<script type="text/javascript" th:src="@{/js/uploadroom.js}"></script>
<script type="text/javascript" th:src="@{/js/updateRoom.js}"></script>
<script type="text/javascript" th:src="@{/js/address.js}"></script>
<script src="../jsnew/menu.js"></script>
<script src="../jsnew/jquery-3.3.1.min.js"></script>
<script src="../jsnew/bootstrap.min.js"></script>
<script src="../jsnew/jquery.magnific-popup.min.js"></script>
<script src="../jsnew/jquery.nice-select.min.js"></script>
<script src="../jsnew/jquery-ui.min.js"></script>
<script src="../jsnew/jquery.slicknav.js"></script>
<script src="../jsnew/main.js"></script>

</html>